doctype html
html(lang='en')
  head
    title Admin
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    //.w3-top
      .w3-bar.w3-red
        a.w3-bar-item.w3-button(href='../admin') Inicio
        a.w3-bar-item.w3-button(href='../asociados') Asociados
        a.w3-bar-item.w3-button(href='../microbuses') Microbuses
        a.w3-bar-item.w3-button(href='../destinos') Destinos
        a.w3-bar-item.w3-button(href='../excursiones') Excursiones
        a.w3-bar-item.w3-button(href='#') Reservaciones
    //br
    //br
    .w3-container
        block content
