doctype html
html(lang='en')
  head
    title Home Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .w3-top
      .w3-bar.w3-red
        a.w3-bar-item.w3-button(href='#') Home
        a.w3-bar-item.w3-button(href='#') Link 1
        a.w3-bar-item.w3-button(href='#') Link 2
        a.w3-bar-item.w3-button(href='#') Link 3
    br
    br

    .w3-container
        block content