extends ../layout.pug
block content
    div(class="w3-display-middle")
        h1 Crear Microbus
        form(method="post", action="/microbuses/crear/")
            p
                select(class="w3-select" name='propietario')
                  each c in choferes
                      option(value=c._id)= c.nombre
            p
                label Estado Mecanico
                input(name="estadoMecanico", type='text', class="w3-input")
            p
                label Agregar Servicios
                input(id="nuevoServicio", type = 'text', class="w3-input")
                input(type="button", id="agregaServicio", class="w3-button w3-blue ", value="Agregar servicio")
                input(id="servicios" name="servicios", type='hidden')
            p
                input(type='submit', class="w3-button w3-red ", value="Crear")
    script(src='/js/main.js', type='text/javascript')
