extends ../layout.pug
block content
    div(class="w3-display-middle")
        h1 Crear destino
        form(method="post", action="/destinos/crear/", enctype="multipart/form-data")
            p
                label Nombre/Lugar
                input(name="nombre", type='text', class="w3-input")
            p
                label Provincia
                input(name="provincia", type='text', class="w3-input")
            p
                label Agregar imágenes
                input(name="fotos", type='file', class="w3-input",  multiple="multiple")
            p
                input(type='submit', class="w3-button w3-red ", value="Crear")