extends ../client-layout.pug
block content
    div(class="w3-margin-top w3-content")
    .w3-row.w3-container
        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='https://www.arenalobservatorylodge.com/sites/default/files/styles/rooms_thumbs/public/Photo%20gallery/Lake%20Arenal%201_1.jpg?itok=44bFnEhB', alt='Fauricio Navarro', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Volcan Arenal
        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='https://cdn.shopify.com/s/files/1/0829/0707/products/pelado_1_79950e24-f342-4741-859b-285578cc7dc6_1024x1024.jpg?v=1495467442', alt='Iván Campos', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Cerro Pelado

        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='https://i2.wp.com/areasyparques.com/wp-content/uploads/2013/06/manuel_antonio01.jpg', alt='Anthony Leandro', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Parque Nacional Manuel Antonio

        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='http://www.apetitoenlinea.com/wp-content/uploads/2014/04/tortu.jpg', alt='Anthony Leandro', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Tortuguero


        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='https://www.faytur.com/sites/default/files/styles/foundation_xlarge/public/pic_rio-celeste-2.jpg?itok=OvOft7Rg', alt='Anthony Leandro', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Río Celeste

    br


    .w3-row.w3-container
        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='http://www.vacationcity.com/images/stock/hotelgalleries/34427-bridge.jpg', alt='Fauricio Navarro', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Selva Verde
        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='https://cdn.crhoy.net/wp-content/uploads/2015/03/monteverde.jpg', alt='Iván Campos', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Monte Verde

        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='https://www.fotopaises.com/Fotos-Paises/t/2009/4/30/6447_1241106510.jpg', alt='Anthony Leandro', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Isla Chira

        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='http://cdn6.picsart.com/6366404981.jpeg', alt='Anthony Leandro', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Eólicas Santa Ana


        .w3-card-4.w3-col.s3(style='width: 200px; height: 285px')
            img.w3-image(src='http://puravidaguide.com/wp-content/uploads/2016/06/13124769_1723395234613241_9104935718943104268_n-2.jpg', alt='Anthony Leandro', style='width: 200px; height: 200px')
            .w3-container.w3-center
                h5
                    b
                        | Sector Prussia


    style.
        .w3-row {
            column-count: 5;
        }

