extends client-layout.pug
block content
    .w3-row
        .w3-col.m4.l9.w3-justify.w3-container
            .w3-content.w3-display-container
                .w3-display-container.mySlides
                    img(src='https://www.arenalobservatorylodge.com/sites/default/files/styles/rooms_thumbs/public/Photo%20gallery/Lake%20Arenal%201_1.jpg?itok=44bFnEhB', style='width:100%')
                    .w3-display-topright.w3-large.w3-container.w3-padding-16.w3-black
                        | Volcán Arenal
                .w3-display-container.mySlides
                    img(src='https://cdn.shopify.com/s/files/1/0829/0707/products/pelado_1_79950e24-f342-4741-859b-285578cc7dc6_1024x1024.jpg?v=1495467442', style='width:100%')
                    .w3-display-topright.w3-large.w3-container.w3-padding-16.w3-black
                        | Cerro Pelado
                .w3-display-container.mySlides
                    img(src='https://www.faytur.com/sites/default/files/styles/foundation_xlarge/public/pic_rio-celeste-2.jpg?itok=OvOft7Rg', style='width:100%')
                    .w3-display-topright.w3-large.w3-container.w3-padding-16.w3-black
                        | Río Celeste
                .w3-display-container.mySlides
                    img(src='https://i2.wp.com/areasyparques.com/wp-content/uploads/2013/06/manuel_antonio01.jpg', style='width:100%')
                    .w3-display-topright.w3-large.w3-container.w3-padding-16.w3-black
                        | Parque Nacional Manuel Antonio
                .w3-display-container.mySlides
                    img(src='http://www.apetitoenlinea.com/wp-content/uploads/2014/04/tortu.jpg', style='width:100%')
                    .w3-display-topright.w3-large.w3-container.w3-padding-16.w3-black
                        | Tortugero!

        .w3-col.m4.l3.w3-justify.w3-container
            br
            br
            br
            .w3-container
                center
                    h2 Nuestros Destinos
                    button(onclick="location.href='../clientes/destinos'", type='button').w3-button.w3-white.w3-round-xxlarge.w3-border.w3-border-red Explorar
            br
            br
            .w3-container
                center
                    h2 Viaja con nosotros
                    button(onclick="location.href='../clientes/excursiones'", type='button').w3-button.w3-white.w3-round-xxlarge.w3-border.w3-border-red Reservar campo
            br
            br
            .w3-container
                center
                    h2 ¿Ya tienes una Reservación?
                    button(onclick="location.href='http://www.google.com'", type='button').w3-button.w3-white.w3-round-xxlarge.w3-border.w3-border-red Ingresar


    script.
        var myIndex = 0;
        carousel();
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }