extends layout.pug
block content
    .w3-row
        .w3-col.m4.l9.w3-justify.w3-container
            .w3-content.w3-display-container

                each dest in destinos

                    .w3-display-container.mySlides
                        img(src= dest.fotos[0], style='width: 905px; height: 600px')
                        .w3-display-topright.w3-large.w3-container.w3-padding-16.w3-black
                            center
                                | !{dest.nombre}
                                br
                                | !{dest.provincia}


        .w3-col.m4.l3.w3-justify.w3-container
            br
            br
            br
            .w3-container
                center
                    h2 Nuestros Destinos
                    button(onclick="location.href='../destinos'", type='button').w3-button.w3-white.w3-round-xxlarge.w3-border.w3-border-red Explorar
            br
            br
            .w3-container
                center
                    h2 Viaja con nosotros
                    button(onclick="location.href='../excursiones'", type='button').w3-button.w3-white.w3-round-xxlarge.w3-border.w3-border-red Reservar campo
            br
            br
            .w3-container
                center
                    h2 ¿Ya tienes una Reservación?
                    button(onclick="location.href='http://www.google.com'", type='button').w3-button.w3-white.w3-round-xxlarge.w3-border.w3-border-red Ingresar


    script.
        var myIndex = 0;
        carousel();
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }